<!doctype html>
<html lang="en">

<head>
    <title><%= title %> | MOOCsChain</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }

        .card-img {
            height: 100% !important;
        }
    </style>
</head>

<body class="gradient-custom">
    <%- include("partials/alerts") %>

    <div class="container">
        <nav class="navbar bg-transparent">
            <form class="container-fluid justify-content-end" method="POST" action="/logout">
                <button class="btn btn-danger me-2" type="submit">Logout</button>
            </form>
        </nav>

        <section class="vh-40">
            <div class="container py-5 h-100">
                <div class="jumbotron text-center text-white">
                    <h1><strong>All Courses</strong></h1>
                </div>
            </div>
        </section>
    </div>

    <hr>

    <div class="container">
        <% courses.forEach((course) => { %>
        <% if (Array.from(registered_course_ids.keys()).includes(course.id)) { %>
        <div class="card mb-3"
            title="<%= registered_course_ids.get(course.id) %> / <%= course.checkpoints %> Checkpoints Complete">
            <% } else { %>
            <div class="card mb-3">
                <% } %>
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="<%= course.courseType === 'CS' ? 'https://ieee.nitk.ac.in/virtual-expo/assets/img/compsoc.jpg'
                            : (course.courseType === 'EC' ? 'https://ieee.nitk.ac.in/virtual-expo/assets/img/diode.jpg'
                            : 'https://ieee.nitk.ac.in/virtual-expo/assets/img/piston.jpg') %>" class="card-img"
                            alt="Course">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= course.name %></h5>
                            <p class="card-text"><%= course.description %></p>
                            <p class="card-text">
                                <% if (!Array.from(registered_course_ids.keys()).includes(course.id)) { %>
                                <a class="btn btn-info" href="/lms/course/<%= course.id %>">Enroll</a>
                                <% } else if (registered_course_ids.get(course.id) == course.checkpoints) { %>
                                <a class="btn btn-success" href="/lms/course/<%= course.id %>">Course Completed</a>
                                <% } else { %>
                                <a class="btn btn-primary" href="/lms/course/<%= course.id %>">Continue Learning</a>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>